IP/IP/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59259/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IP_WcfService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IP_WcfService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IP_WcfService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cont_num" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLecturerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLecturer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLecturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewLecturerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGrpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addGrpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewGroupResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addInsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewIns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewInsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewLabsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPracSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ins" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPracSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPracSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPracDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPracDatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLecSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLecDatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewHalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewHallsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLectureSessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLectureSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewLectureSessionsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLectureSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewLectureScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewLectureScheduleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>